.no-tests-message {
    font-weight: 800;
    margin-top: 30px;
}

.custom-elipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 20vw;
}

.results-card {
    margin-top: 10px;
}