<div [@routerTransition]>
  <div class="row">
    <div class="col">
      <h2 class="page-header">
        Tests
      </h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-home"></i>
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="breadcrumb-item">
          <i class="fa fa-file"></i> Tests
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">Tests list</div>
        <div class="card-body table-responsive">
          <button type="button" *ngIf="isCurrentUserEditor()" class="btn btn-sm btn-success" (click)="addTest()" style="margin-bottom: 10px">+ Add</button>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Test</th>
                <th>Language</th>
                <th>Description</th>
                <th *ngIf="isCurrentUserEditor()">Active</th>
                <th>Positions</th>
                <th *ngIf="isCurrentUserEditor()">Questions</th>
                <th *ngIf="isCurrentUserEditor()">Export</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <div class="no-tests-message" *ngIf="tests.length === 0">There are no tests available</div>
              <tr *ngFor="let test of tests; let i = index;">
                <td>{{i + 1 }}</td>
                <td>{{test.name}}</td>
                <td>{{test.language}}</td>
                <td>
                  <div class="custom-elipsis" [ngbTooltip]="test.description" placement="top">{{test.description}}</div>
                </td>
                <td *ngIf="isCurrentUserEditor()">{{test.active ? 'Yes' : 'No'}}</td>
                <td>
                  <span *ngFor="let position of test.positions; let j=index">{{(j>0 ? ", "+position.name : " "+position.name)}}</span>
                </td>
                <td *ngIf="isCurrentUserEditor()">
                  <button (click)="goToQuestions(test.id)" class="btn btn-sm btn-warning" [disabled]="!test.active">Edit</button>
                </td>
                <td *ngIf="isCurrentUserEditor()">
                  <div class="btn-group">
                    <button (click)="pdf(test)" class="btn btn-sm btn-info" [disabled]="!test.active">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</button>
                    <button (click)="xls(test)" class="btn btn-sm btn-warning" [disabled]="!test.active">
                      Excel
                      <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    </button>
                  </div>
                </td>
                <td style="white-space: nowrap;">
                  <span *ngIf="isCurrentUserEditor()">
                    <button (click)="editTest(test)" class="btn btn-sm btn-warning" [disabled]="!test.active" ngbTooltip="Edit test info">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button (click)="addPositions(test)" class="btn btn-sm btn-success" [disabled]="!test.active" ngbTooltip="Add positions">
                      <i class="fa fa-plus"></i>
                    </button>
                    <button (click)="removePositions(test)" class="btn btn-sm btn-danger" [disabled]="!test.active" ngbTooltip="Remove positions">
                      <i class="fa fa-minus-square"></i>
                    </button>
                    <button (click)="deleteTest(test)" class="btn btn-sm btn-danger" [disabled]="!test.active" ngbTooltip="Remove test">
                      <i class="fa fa-trash"></i>
                    </button>
                  </span>
                  <span *ngIf="isCurrentUserCandidate()">
                    <button (click)="goToTestSolving(test.id)" class="btn btn-sm btn-info" [disabled]="isTestSolved(test) || !test.active">
                      <i class="fa fa-pencil-square-o"></i> Resolve test</button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>