<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>WKS Recruiter Login</h1>
            <form role="form" name="formLogin">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="email" name="email" class="form-control input-underline input-lg" placeholder="Email">
                    </div>
                    
                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" name="password" class="form-control input-underline input-lg" placeholder="Password">
                    </div>
                </div>
                <ngb-alert class="custom-alert" *ngIf="errorMessage" [type]="error" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
                <a class="btn rounded-btn" (click)="login()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>
