<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" (click)="close()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="testCreationForm" (ngSubmit)="testCreationForm.form.valid && submit()" #testCreationForm="ngForm" novalidate>
    <div class="form-group">
      <label for="testName">Test name</label>
      <input type="text" class="form-control input-underline input-lg" placeholder="Name" id="name" name="name" [(ngModel)]="test.name"
        #name="ngModel" required minlength="3" pattern="^[A-Z].*" [ngClass]="{'border border-danger': testCreationForm.submitted && name.invalid}">
      <div *ngIf="testCreationForm.submitted && name.invalid" class="text-danger">
        <div *ngIf="name.errors.required">
          Test name can not be empty.
        </div>
        <div *ngIf="name.errors.minlength">
          Test name must have at least 3 characters.
        </div>
        <div *ngIf="name.errors.pattern">
          Test name should start with capital letter.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="language">Language</label>
        <select class="form-control w-100" name="language" [(ngModel)]="test.language" #language="ngModel" required
                [ngClass]="{'border border-danger': testCreationForm.submitted && language.invalid}">
            <option [ngValue]="undefined" disabled hidden selected>Please select language</option>
            <option *ngFor="let language of languages; trackBy: trackByFun" [value]="language" >{{language}}</option>
        </select>
      <div *ngIf="testCreationForm.submitted && language" class="text-danger">
        <div *ngIf="language.errors.required">
          Language must be chosen.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="testDescription">Description</label>
      <textarea class="form-control input-underline input-lg" placeholder="Description" id="description" name="description" [(ngModel)]="test.description"
        #description="ngModel" required minlength="3" pattern="^[A-Z].*" [ngClass]="{'border border-danger': testCreationForm.submitted && description.invalid}"></textarea>
      <div *ngIf="testCreationForm.submitted && description.invalid" class="text-danger">
        <div *ngIf="description.errors.required">
          Description can not be empty.
        </div>
        <div *ngIf="description.errors.minlength">
          Description must have at least 3 characters.
        </div>
        <div *ngIf="description.errors.pattern">
          Description should start with capital letter.
        </div>
      </div>
    </div>
    <div class="form-group float-right">
      <button type="submit" class="btn btn-sm btn-success">Submit</button>
      <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
    </div>
  </form>
</div>
