<div [@routerTransition]>
  <div class="row">
    <div class="col">
      <h2 class="page-header">
        Test questions - {{ test.name }}
      </h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-home"></i>
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="breadcrumb-item">
          <i class="fa fa-file"></i>
          <a [routerLink]="['/tests']">Tests</a>
        </li>
        <li class="breadcrumb-item">
          <i class="fa fa-file"></i> <span *ngIf="originalQuestions !== undefined">Translating </span>Test questions
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header font-weight-bold">Questions - {{ test.name }}</div>
        <form name="questionsForm" id="questionsForm" (ngSubmit)="questionsForm.form.valid && submit()" #questionsForm="ngForm" novalidate>
          <div class="card-body p-3">
            <div *ngFor="let question of test.questions; let j = index; trackBy: trackByFun">
              <div class="form-content">
                <div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-2">
                        <label for="{{j}}QuestionType" class="font-weight-bold h-100 pt-1 w-50 float-right">Question type: </label>
                      </div>
                      <div class="col-5">
                        <select [disabled]="originalQuestions !== undefined" class="form-control input-select" [(ngModel)]="question.type" name="{{j}}QuestionType" id="{{j}}QuestionType" (change)="questionTypeChanged(question, $event.target.value); questionsForm.submitted = false;"
                          required [ngClass]="{'border border-danger': questionsForm.submitted && question.type === 'NONE'}">
                          <option *ngFor="let type of questionTypes; trackBy: trackByFun" [value]="type[0]" [disabled]="type[0] === 'NONE'">{{ type[1] }}</option>
                        </select>
                      </div>
                      <div class="col-4">
                        <div *ngIf="questionsForm.submitted ">
                          <div *ngIf="question.type === 'NONE'" class="text-danger pt-1">
                            Question type is required.
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <button *ngIf="originalQuestions === undefined" type="button" class="btn btn-outline-danger float-right" (click)="removeQuestion(question)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="question.type !== null && question.type !== undefined && question.type !== 'NONE'">
                <div class="form-group">
                  <div class="row">
                    <div class="col-2">
                      <label for="{{j}}QuestionInput" class="pt-1 float-right">Question phrase: </label>
                    </div>
                    <div class="col-5">
                      <input class="form-control input-underline input-lg w-75 d-inline" [ngbTooltip]="(originalQuestions !== undefined) ? originalQuestions[j].questionPhrase : ''" placeholder="Question phrase" name="{{j}}QuestionInput" [(ngModel)]="question.questionPhrase"
                        #questionPhrase="ngModel" required [ngClass]="{'border border-danger': questionsForm.submitted && questionPhrase.invalid}" >
                        <button [hidden]="originalQuestions == undefined" type="button" class="btn btn-sm mb-1 btn-light d-inline" (click)="translateQuestion(originalQuestions[j], question)">
                          <i class="fa fa-language"></i>
                        </button>
                    </div>
                    <div class="col-6" *ngIf="questionsForm.submitted && questionPhrase.invalid">
                      <div *ngIf="questionPhrase.errors.required" class="pt-1 text-danger">
                        Question phrase is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="question.type !== null && question.type !== undefined && question.type !== 'NONE'">
                <div class="form-group">
                  <div class="row">
                    <div class="col-2">
                      <label for="{{j}}QuestionMaxPoints" class="pt-1 float-right">Question max points: </label>
                    </div>
                    <div class="col-5">
                      <input [disabled]="originalQuestions !== undefined" type="number" step="1" class="form-control input-underline w-75 input-md" placeholder="Question max points" name="{{j}}QuestionMaxPoints"
                        [(ngModel)]="question.maxPoints" #questionMaxPoints="ngModel" required [ngClass]="{'border border-danger': questionsForm.submitted &&
                        (questionMaxPoints.invalid || question.maxPoints <= 0)}">
                    </div>
                    <div class="col-5" *ngIf="questionsForm.submitted">
                      <div *ngIf="questionMaxPoints.invalid && questionMaxPoints.errors.required" class="pt-1 text-danger">
                        Question max points value is required.
                      </div>
                      <div *ngIf="question.maxPoints <= 0" class="pt-1 text-danger">
                        Question max points value has to be greater than zero.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="question.type === 'SINGLE_CHOICE' || question.type === 'MULTIPLE_CHOICE'">
                <div class="form-group">
                  <div class="row">
                    <div class="col-2">
                      <label class="float-right">Options:</label>
                    </div>
                    <div class="col-10">
                      <div id="{{j}}SelectOptions" class="">
                        <div *ngFor="let option of question.params.options;trackBy: trackByFun; let i = index" class="mb-3">
                          <div class="row">
                            <div class="col-6">
                              <input class="form-control input-underline input-lg w-75 d-inline" placeholder="Option {{i + 1}}" name="{{i}}-{{j}}SingleSelectOption"
                                #option="ngModel" [(ngModel)]="test.questions[j].params.options[i]" required #questionOption="ngModel"
                                [ngClass]="{'border border-danger': questionsForm.submitted && questionOption.invalid}" [ngbTooltip]="(originalQuestions !== undefined) ? originalQuestions[j].params.options[i] : ''">
                              <button *ngIf="i !== 0 && originalQuestions == undefined" type="button" class="btn btn-sm mb-1 btn-danger d-inline" name="{{i}}SingleSelectOptionButton" (click)="removeOptionFromQuestion(question, i)">
                                <i class="fa fa-remove"></i>
                              </button>
                                <button [hidden]="originalQuestions == undefined" type="button" class="btn btn-sm mb-1 btn-light d-inline" (click)="translateOption(originalQuestions[j].params.options[i], test.questions, j, i)">
                                  <i class="fa fa-language"></i>
                                </button>
                            </div>
                            <div class="col-6">
                              <div *ngIf="questionsForm.submitted && questionOption.invalid">
                                <div *ngIf="questionOption.errors.required" class="pt-1 text-danger">Option cannot be empty</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button *ngIf="originalQuestions == undefined" type="button" class="btn btn-sm btn-success" (click)="addQuestionOption(question)">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="question.type === 'NUMBER'">
                <div class="form-group">
                  <div class="row mb-3">
                    <div class="col-2">
                      <label class="pt-1 float-right">Minimium value: </label>
                    </div>
                    <div class="col-5">
                      <input [disabled]="originalQuestions !== undefined" class="w-75 form-control input-underline input-md" type="number" placeholder="Minimum value" name="{{j}}NumberQuestionMinValue"
                        [(ngModel)]="question.params.minValue" #minValue="ngModel" required [ngClass]="{'border border-danger': questionsForm.submitted && minValue.invalid}">
                    </div>
                    <div class="col-5" *ngIf="questionsForm.submitted && minValue.invalid">
                      <div *ngIf="minValue.errors.required" class="text-danger pt-1">
                        Minimum value is required.
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <label class="pt-1 float-right">Maximum value: </label>
                    </div>
                    <div class="col-5">
                      <input [disabled]="originalQuestions !== undefined" class="w-75 form-control input-underline input-md" type="number" placeholder="Maximum value" name="{{j}}NumberQuestionMaxValue"
                        [(ngModel)]="question.params.maxValue" required #maxValue="ngModel" [ngClass]="{'border border-danger': questionsForm.submitted &&
                        (maxValue.invalid || question.params.maxValue < question.params.minValue)}">
                    </div>
                    <div class="col-5" *ngIf="questionsForm.submitted">
                      <div class="text-danger pt-1" *ngIf="maxValue.invalid && maxValue.errors.required">
                        Maximum value is required.
                      </div>
                      <div *ngIf="question.params.maxValue < question.params.minValue" class="text-danger pt-1">
                        Maximum value has to be greater than minimum value.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="question.type === 'SCALE'">
                <div class="form-group">
                  <div class="row mb-3">
                    <div class="col-2">
                      <label for="{{j}}ScaleQuestionMinValue" class="pt-1 float-right">Minimium value: </label>
                    </div>
                    <div class="col-5">
                      <input [disabled]="originalQuestions !== undefined" class="w-75 form-control input-underline input-md" type="number" placeholder="Minimum value" name="{{j}}ScaleQuestionMinValue"
                        [(ngModel)]="question.params.minValue" required #minValue="ngModel" [ngClass]="{'border border-danger': questionsForm.submitted && minValue.invalid}">
                    </div>
                    <div class="col-5">
                      <div *ngIf="questionsForm.submitted && minValue.invalid">
                        <div *ngIf="minValue.errors.required" class="text-danger pt-1">
                          Minimum value is required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-2">
                      <label for="{{j}}ScaleQuestionMaxValue" class="pt-1 float-right">Maximum value: </label>
                    </div>
                    <div class="col-5">
                      <input [disabled]="originalQuestions !== undefined" class="w-75 form-control input-underline input-md" type="number" placeholder="Maximum value" name="{{j}}ScaleQuestionMaxValue"
                        [(ngModel)]="question.params.maxValue" required #maxValue="ngModel" [ngClass]="{'border border-danger': questionsForm.submitted && (maxValue.invalid || question.params.maxValue < question.params.minValue)}">
                    </div>
                    <div class="col-5">
                      <div *ngIf="questionsForm.submitted">
                        <div *ngIf="maxValue.invalid && maxValue.errors.required" class="text-danger pt-1">
                          Maximum value is required.
                        </div>
                        <div *ngIf="question.params.maxValue < question.params.minValue" class="text-danger pt-1">
                          Maximum value has to be greater than minimum value.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-2">
                      <label for="{{j}}ScaleQuestionStep" class="pt-1 float-right">Step: </label>
                    </div>
                    <div class="col-5">
                      <input [disabled]="originalQuestions !== undefined" type="number" class="w-75 form-control input-underline input-md" placeholder="Step" name="{{j}}ScaleQuestionStep"
                        [(ngModel)]="question.params.step" required #step="ngModel" [ngClass]="{'border border-danger': questionsForm.submitted &&
                        (step.invalid || question.params.step <= 0 || question.params.step > (question.params.maxValue - question.params.minValue) &&
                        question.params.maxValue >= question.params.minValue)}">
                    </div>
                    <div class="col-5">
                      <div *ngIf="questionsForm.submitted">
                        <div *ngIf="step.invalid && step.errors.required" class="text-danger pt-1">
                          Step value is required.
                        </div>
                        <div *ngIf="question.params.step <= 0" class="text-danger pt-1">
                          Step value has to be positive number.
                        </div>
                        <div *ngIf="question.params.step > (question.params.maxValue - question.params.minValue) && question.params.maxValue >= question.params.minValue"
                          class="text-danger pt-1">
                          Step value has to be smaller than difference between max value and min value.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
            </div>
          </div>
          <div class="card-footer d-flex flex-row-reverse bd-highlight p-3 form-group">
            <input type="submit" class="btn btn-md btn-success m-2" value="Save">
            <input type="button" class="btn btn-md btn-success m-2" (click)="addQuestion(); questionsForm.submitted = false;" value="+ Add question" *ngIf="originalQuestions === undefined">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
