/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

body {
    background: url('../assets/images/background.jpg');
}
.card {
    background: rgba(255, 255, 255, 0.85);
}
.breadcrumb {
    background: rgba(255, 255, 255, 0.85);
}