<div [@routerTransition]>
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Home
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <i class="fa fa-home"></i> Home</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">Home</div>
                <div class="card-body">
                    <h1>Welcome to WKS-Recruiter!</h1>
                </div>
            </div>
        </div>
    </div>
</div>