<div class="modal-header">
    <h4 class="modal-title">{{ account.login }} details</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="userDetailsForm">
        <div class="form-content">
            <label for="email">Email</label>
            <div class="form-group">
                <input type="text" class="form-control input-underline input-lg" [(ngModel)]="account.login" [ngModelOptions]="{standalone: true}"
                    placeholder="Email" [readonly]="!createAccount" required id="email">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control input-underline input-lg" placeholder="Name" id="name" name="name" [(ngModel)]="account.name"
                    #name="ngModel" required minlength="2" pattern="^[A-Z].*">

                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                        Name can not be empty.
                    </div>
                    <div *ngIf="name.errors.minlength">
                        Name must have at least 2 characters.
                    </div>
                    <div *ngIf="name.errors.pattern">
                        Name should start with capital letter.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control input-underline input-lg" placeholder="Surname" id="surname" name="surname" [(ngModel)]="account.surname"
                    #surname="ngModel" required minlength="2" pattern="^[A-Z].*">

                <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger">
                    <div *ngIf="surname.errors.required">
                        Surname can not be empty.
                    </div>
                    <div *ngIf="surname.errors.minlength">
                        Surname must have at least 2 characters.
                    </div>
                    <div *ngIf="surname.errors.pattern">
                        Surname should start with capital letter.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control input-underline input-lg" placeholder="Password" id="password" name="password"
                    [(ngModel)]="account.password" #password="ngModel" required minlength="8">

                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                        Password can not be empty.
                    </div>
                    <div *ngIf="password.errors.minlength">
                        Password must have at least 8 characters.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" class="form-control input-underline input-lg" placeholder="Repeat password" id="confirmPassword" name="confirmPassword"
                    [(ngModel)]="confirm" #confirmPassword="ngModel" required minlength="8">

                <div *ngIf="password.valid && (confirmPassword.dirty || confirmPassword.touched) && checkIfPasswordsMatch()" class="alert alert-danger">
                    Passwords do not match.
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        Is active
                        <input type="checkbox" [checked]="account.active" (change)="account.active = !account.active">
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="roles1">Roles:</label>
                <select multiple class="form-control" id="roles1">
                    <option *ngFor="let role of roles">{{ role }}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-success" (click)="submit()">Submit</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
</div>