<div class="modal-header">
  <h4 class="modal-title">Create position</h4>
  <button type="button" class="close" (click)="close()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="testsModificationForm" (ngSubmit)="submit()" #testsModificationForm="ngForm" novalidate>
    <div class="form-group">
      <label>Positions:</label>
      <select multiple class="form-control select-picker" id="positions1" name="positions1" [(ngModel)]="potentialPositions">
          <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
      </select>
  </div>
    <div class="form-group float-right">
      <button type="submit" class="btn btn-sm btn-success">Submit</button>
      <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
    </div>
  </form>
</div>