<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="main-container">
    <ngb-alert *ngFor="let alert of alerts" [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
    <router-outlet></router-outlet>
</section>
<audio preload="auto" id="error-audio">
    <source src="assets/sounds/nd_ys.mp3" type="audio/mpeg">
</audio>
<div id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href class="context-menu__link" data-action="wikipedia-pl">
                <i class="fa fa-wikipedia-w"></i> Search in Wikipedia PL</a>
        </li>
        <li class="context-menu__item">
            <a href class="context-menu__link" data-action="wikipedia-en">
                <i class="fa fa-wikipedia-w"></i> Search in Wikipedia EN</a>
        </li>
    </ul>
</div>